body
{
	background-color: rgb(7, 7, 7);
	color: #efefef;
    font-size: 17px;
}
h1 {
	font-size: 30px;
	font-weight: 400;
	color: #0f9e1b;
	margin: 20px;
	text-align: center;
}

p {
	text-align: justify;
}

.row {
	text-align: center;

}

.row img {
	width: 100%;
	height: auto;
}

.row figcaption {
	margin-top: 8px;
	color: #0f9e1b;
}

@media (max-width: 575px)